<h1>Counter</h1>

<p>Count: @count</p>

<button @onclick="@(() => ++count)" accesskey="hello">Increment</button>

@code
{
    private int count = 0;
    private string lol = "hasd";

    private void Increment()
    {
        count++;
    }
}
